{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-secondary py-5 border border-warning rounded-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-warning">
            <h1 class="display-4 fw-bolder">About Our Marketplace</h1>
            <p class="lead fw-bold text-warning-50 mb-0">We source our products from around the world.</p>
        </div>
    </div>
</header>

<br><br>
<div class="container">
    <div class="row"> 
        <center>
            <div class="col-8">
                Wonderful Products ... Enjoy <br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac quam sit amet massa scelerisque feugiat eu in risus. Mauris suscipit eu justo at convallis. In efficitur lorem dictum nisi feugiat dapibus. Duis iaculis placerat scelerisque. Duis venenatis tellus ligula, nec rhoncus mauris faucibus facilisis. Curabitur in consequat magna. Duis hendrerit dictum justo, non facilisis libero vehicula at. Quisque quis accumsan ligula. 
            </div>
        </center>
    </div>
</div>
<br><br>

{% endblock %}